td, th {
    padding-right: 30px;
}

#tableBoard td {
    border: 1px solid #333;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    font-size: 18pt;
    color: #FFF;
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000, 0px 1px #000;
}