Influence.Domain/bin/
Influence.Domain/obj/
Influence.Services/bin/
Influence.Services/obj/
Influence.Web/bin/
Influence.Web/obj/
Influence.WinClient/bin/
Influence.WinClient/obj/
packages/
.vs/
*.csproj.user
Influence.GameClient/bin/
Influence.GameClient/obj/
Influence.Common/bin/
Influence.Common/obj/
Tester/bin/
Tester/obj/
*.user
Influence.SampleBot/obj/
Influence.SampleBot/bin/
Influence.WebNew/bin/
Influence.WebNew/obj/
Influence.Web/UploadedBots/
